@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Vendors */
@import url("vendors/normalize.css");

/* Utils */
@import url("utils/variables.css");

/* Base */
@import url("base/main.css");
@import url("base/media.css");
@import url("base/icons.css");

/* Layout */
@import url("layout/header.css");
@import url("layout/footer.css");
@import url("layout/form.css");
@import url("layout/carousel.css");

/* Components */
@import url("components/menu.css");
@import url("components/carousel.css");

@font-face {
    font-family: 'cooper_hewittbook';
    src: url('/fonts/cooperhewitt-book-webfont.eot');
    src: url('') format('embedded-opentype'),
         url('/fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-bookitalic-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-light-webfont.ttf') format('truetype'),
         url('/fonts/') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url('cooperhewitt-light-webfont.eot');
    src: url('cooperhewitt-light-webfont.eot') format('embedded-opentype'),
         url('cooperhewitt-light-webfont.woff2') format('woff2'),
         url('cooperhewitt-light-webfont.woff') format('woff'),
         url('cooperhewitt-light-webfont.ttf') format('truetype'),
         url('cooperhewitt-light-webfont.svg#cooper_hewittlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittthin';
    src: url('cooperhewitt-thin-webfont.eot');
    src: url('cooperhewitt-thin-webfont.eot') format('embedded-opentype'),
         url('cooperhewitt-thin-webfont.woff2') format('woff2'),
         url('cooperhewitt-thin-webfont.woff') format('woff'),
         url('cooperhewitt-thin-webfont.ttf') format('truetype'),
         url('cooperhewitt-thin-webfont.svg#cooper_hewittthin') format('svg');
    font-weight: normal;
    font-style: normal;

}





